{{>header}}

<section class="my-5 container">

    <form>
        <div class="mb-3">
        <input list="type" name="type" >

        <datalist  id="type">
             <option value="add">
             <option value="withdraw">
   
        </datalist>
            <!--<input class="form-control" placeholder="Type" name="type">-->
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="value" name="val">
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary">Add Operation</button>
        </div>

    </form>  
    
</section>

{{>footer}}